html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

header {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 30vw 0 5vw;
  position: relative;
  transform-style: inherit;
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header h1 {
  margin-top: -100px;
  transform: translateZ(-0.5px) scale(2);
  font-family: "Orbitron", sans-serif;
  color: #d3d3d3;
  font-size: 4vw;
  text-shadow: 0 0 35px #000, 0 0 35px #000, 0 0 35px #000, 0 0 55px #000;

  display: none;


}

header img {
  margin-top: -500px;
  transform: translateZ(-0.5px) scale(2);
  width: 20%;
  height: 20%;
  min-width: 216px;
}

header, header::before {
  background: 35% 50% / cover;
}

header::before{
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-image: url("images/fog_eater_bg1.jpg");
  box-shadow: 0 0 30px #000;
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2.01);
  z-index: -1;
  min-height: 100vh;


}

header * {
  text-align: center;
  margin: 0;
  padding: 1em 0;
}




.mainPage {
  box-shadow: inset 0 7px 30px -7px rgba(0,0,0,1);
  min-height: 100%;
  /* height: 2000px; */ /* - - - - - For height test, delete later */

  /* position: absolute; /*fuck up margin on left*/ */

  /* background: #383838;
  background: -webkit-linear-gradient(to top, #000, #383838);
  background: linear-gradient(to top, #000, #383838); */ /* G R I S */

  background: #2b3749;
  background: -webkit-linear-gradient(to top, #131821, #2b3749);
  background: linear-gradient(to top, #131821, #2b3749);


  transform-style: preserve-3d;
}

.mainPageContainer {
  width: 100%;
  /* background-color: #4f4f4f; */
  margin: 0 auto; /*???*/
    position: absolute; /*fuck up height*/
  /* background: #2b3749;
  background: -webkit-linear-gradient(to top, #131821, #2b3749);
  background: linear-gradient(to top, #131821, #2b3749); */ /*Prend background prend toute la page*/
}

.twitchEmbed {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.twitchEmbed iframe {
    box-shadow: 0 0 15px #000;
    max-width: 100%;
}

.discordapp {
  /* float: right; */
  /* position: fixed; */
  margin-left: 20px;
  max-width: 100vh;
  position: fixed;
  z-index: 100;
  position: sticky;
  top: 0;
  float: left;
}


.discordapp iframe {
  margin-top: 100px;
  width: 300px;
  height: 700px;
  box-shadow: 0 0 15px #000;  max-width: 100vh;
}

.discordappMediumDevice {
  display: none;
}




.navbar {
  padding-top: 35px;
  text-align: center;
  position: sticky;
  top: 0;
}

.navbar ul {
list-style: none;
padding: 0;
}

.navbar ul li {
  display: inline-block;
  margin: 0 7px;
}


.navbar a {
    text-decoration: none;
  color: #e2e3e4;
  font-family: "Orbitron", sans-serif;
  border: 1px solid #e2e3e4;
  border-radius: 1px;
  padding: 7px 20px;
  background-color: rgba(226, 227, 228, 0.15);
  text-shadow: 0 0 5px #000;
  font-size: 20px;
  transition-property: background-color, text-shadow;
  transition-duration: .5s;
}

.navbarDonate {
  background-color: rgba(226, 227, 228, 0.3)!important;
}

.navbarDonate:hover {
  background-color: rgba(226, 227, 228, 0.45)!important;
}

.navbar a:hover {
  background-color: rgba(226, 227, 228, 0.5);
  transition-property: background-color, text-shadow;
  transition-duration: .7s;
  text-shadow: 0 0 5px #000, 0 0 15px #000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}




.homeText {
  color: #e2e3e4;
  font-family: "Roboto", sans-serif;
  padding-top: 50px;
  width: 50%;
  margin: 0 auto;
}

.homeText p {
  font-weight: 300;
  /* margin-top: 50px; */
  text-align: center;
}


.homeText h2, h3 {
  text-align: center;
}
.homeText h2 {
  margin-bottom: 50px;
}

hr {
  margin-top: 50px;
  width: 20%;
}

.ipName {
  margin: 3px;
}




@media screen and (max-width: 1462px) {

  .discordapp {
    display: none;
  }

  .discordappSticky {
    position: fixed;
    top: 0;
    width: 100%
  }

  .discordappMediumDevice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .discordappMediumDevice iframe {
    margin-top: 50px;
    width: 45%;
    max-width: 316px;
    min-width: 240px;
    height: 500px;
    box-shadow: 0 0 15px #000;
    margin-bottom: 50px;
  }

  .mainPageContainer {
    width: 100%;
    margin: 0 auto;
  }

  header img {
    margin-top: -100px;
  }

}







@media screen and (max-width: 781px) {

.navbar {
  display: none;
}


}
