html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

header {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 30vw 0 5vw;
  position: relative;
  transform-style: inherit;
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header h1 {
  margin-top: -100px;
  transform: translateZ(-0.5px) scale(2);
  font-family: "Orbitron", sans-serif;
  color: #d3d3d3;
  font-size: 4vw;
  text-shadow: 0 0 35px #000, 0 0 35px #000, 0 0 35px #000, 0 0 55px #000;

  display: none;


}

header img {
  margin-top: -500px;
  transform: translateZ(-0.5px) scale(2);
  width: 20%;
  height: 20%;
  min-width: 216px;
}

header, header::before {
  background: 35% 50% / cover;
}

header::before{
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-image: url("images/fog_eater_bg1.jpg");
  box-shadow: 0 0 30px #000;
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2.01);
  z-index: -1;
  min-height: 100vh;


}

header * {
  text-align: center;
  margin: 0;
  padding: 1em 0;
}




.mainPage {
  box-shadow: inset 0 7px 30px -7px rgba(0,0,0,1);
  min-height: 100%;
  background: #2b3749;
  background: -webkit-linear-gradient(to top, #131821, #2b3749);
  background: linear-gradient(to top, #131821, #2b3749);
  transform-style: preserve-3d;
}

.mainPageContainer {
  width: 1140px;
  /* background-color: #4f4f4f; */
  height: 100%;
  margin: 0 auto;
}

.twitchEmbed {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.twitchEmbed iframe {
    box-shadow: 0 0 15px #000;
    max-width: 100%;
}

.discordapp {
  /* float: right; */
  position: fixed;
  margin-left: 20px;
  max-width: 100vh;
}


.discordapp iframe {
  margin-top: 100px;
  width: 300px;
  height: 700px;
  box-shadow: 0 0 15px #000;  max-width: 100vh;
}

.discordappMediumDevice {
  display: none;
}




.navbar {
  padding-top: 35px;
  text-align: center;
}

.navbar ul {
list-style: none;
}


.navbar a {
    text-decoration: none;
  color: #e2e3e4;
  font-family: "Orbitron", sans-serif;
  border: 1px solid #e2e3e4;
  padding: 7px 20px;
  background-color: rgba(226, 227, 228, 0.15);
  text-shadow: 0 0 5px #000;

  font-size: 20px;
}

.lore {
  color: #e2e3e4;
  font-family: "Roboto", sans-serif;
  margin-top: 100px;
}

.lore p {
  font-weight: 300;
  margin-top: 50px;
  text-align: center;
}

.lore h2 {
  text-align: center;
}




/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1789px) {

  .discordapp {
    display: none;
  }

  .discordappMediumDevice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .discordappMediumDevice iframe {
    margin-top: 50px;
    width: 45%;
    max-width: 620px;
    min-width: 240px;
    height: 500px;
    box-shadow: 0 0 15px #000;
    margin-bottom: 50px;
  }

  .mainPageContainer {
    width: 100%;
    margin: 0 auto;
  }

  header img {
    margin-top: -100px;
  }

}
